/* ------ general
-----------------------------------------------*/

* { -webkit-tap-highlight-color: rgba(0,0,0,0);} 

body {
font-family:Arial, Helvetica, sans-serif;
background:url(../img/background_new.png) ;
-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}


/* ------ mobilyblocks
-----------------------------------------------*/


.breadcrumb {
display:block;
left:60px; 
top:-40px;
cursor:pointer;
position:relative;
color:#a7aaaf;
font-family: Calibri ;
}



.socials {
display:block;
width:32px;
height:32px;
background:url(../img/socials/share.png) no-repeat;
cursor:pointer;
position:relative;
}

.nature {
display:block;
width:350px;
height:350px;
left:-10px; 
top:90px;
background:url(../img/hello.png) no-repeat;
background-size: 100%;
cursor:pointer;
position:relative;

}


.socials, .nature {
margin:0 auto;
}

.socials {
margin-bottom:50px;
}

ul.reset,
ul.reset li {
display:block;
list-style:none;
padding:0;
margin:0;

}

ul.reset li {
position:absolute;

}

ul.reset li a {
outline:none;

}

#content {
margin:100px auto 0;
width:560px;
    -webkit-opacity: .99;
}



a {
color:#464c57;
}

a img { border: none; border-color: #464c57; color: #464c57 }

table     { display: table }
tr        { display: table-row }
thead     { display: table-header-group }
tbody     { display: table-row-group }
tfoot     { display: table-footer-group }
col       { display: table-column }
colgroup  { display: table-column-group }
td, th    { display: table-cell }
caption   { display: table-caption }

a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}


/* If you want you can use font-face */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {width: 200px; top:-100px;  margin: 0 auto; overflow: hidden; }

.clock {width:150px;  margin:0 auto; top:600px; left:400px; position:relative; border:0px solid #333; color:#fff; }

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:12px; text-align:center; text-shadow:0 0 5px #00c6ff; }

ul { width:150px; margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul li { display:inline; font-size:1em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}



